<div class="banner hidden-xs hidden-sm" id="home">
    <div class="img-hldr code code--right" data-aos="fade-left"><img src="images/banner1.png" alt=""></div>
    <div class="banner-txt code code--left" data-aos="fade-right">
        <h1>i do believe</h1>
        <h2>that</h2>
        <h3>Design is thinking
            made of visual</h3>
        <a href="#">View portfolio</a>
    </div>
</div>
<div class="banner visible-sm visible-xs" id="home">
    <div class="banner-txt">
        <h1>i do believe</h1>
        <h2>that</h2>
        <h3>Design is thinking
            made of visual</h3>
        <a href="#">View portfolio</a>
    </div>
    <div class="img-hldr"><img src="images/banner1.png" alt=""></div>
</div>